.widget-travis {

  li {
    margin: 0 0 12px 0;

    &:last-child { margin: 0;}
  }

  section {
    margin: 0;
    padding: 0;
    float: left;

    h1, p {
      text-align: left;
      margin-bottom: 0;
    }

    &.meta {
      width: 86%;

      p {
        margin: 0;
        color: #ccc;
        font-size: 12px;
        font-weight: 200;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 20px;
      }
    }

    &.details {
      width: 14%;
      font-size: 18px;
      line-height: 58px;

      h1 { font-size: 24px; }

      .passing { color: #14ba20; }

      span {
        color: #f60308;
        float: right;
      }
    }
  }

}
